    :root {
      --black: #080808;
      --offblack: #0f0f0f;
      --gold: #C9A84C;
      --gold-dim: rgba(201, 168, 76, 0.18);
      --gold-line: rgba(201, 168, 76, 0.35);
      --ivory: #F5F0E8;
      --charcoal: #2A2A2A;
      --serif: "Special Gothic Expanded One", sans-serif;
      --sans: "Arimo", sans-serif;
    }


.join-us {
    height: 500px;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(19, 17, 17, 0.781)),
        url('../images/hero.webp') center center / cover no-repeat;
        display: flex;
  flex-direction: column;
    justify-content: center;
}

.join-us-content {
  text-align: center;
  color: var(--ivory);
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.join-us h2 {
  font-family: var(--sans);
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--gold);
}

.join-us p {
  font-family: var(--serif);
  font-size: clamp(2rem, 5vw, 3.2rem);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.join-us button {
  background-color: var(--gold);
  color: var(--black);
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-family: var(--sans);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-us button:hover {
  background-color: var(--gold-dim);
}

.join-us button a {
  text-decoration: none;
  color: var(--black);
}